.follow-blue { color: var(--lightblue); }
.follow-blue:hover { color: var(--lightblue); }
.button-default { color: var(--mediumgray); }
.button-default:hover { color: var(--mediumgray); }

.flagDropdown {
  height: 20px;
  width: 20px;
  min-width: 20px;
}

.likeButton {
  height: 25px;
  width: 20px;
  min-width: 20px;
}