.mapFrame {
  height: calc(100% - 100px);
  width: 100vmin;
  margin: 0 auto;
  border: none;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  overflow: hidden;
}
.map-loading {
  height: calc(100% - 100px);
  width: 100vmin;
  margin: 0 auto;
  position: absolute;
  z-index: 9;
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  .mapFrame { width: var(--width); }
  .map-loading { width: var(--width); }
}