.card-userHeading {
  height: 50px;
  box-sizing: border-box;
  padding: 0 5px;
}
.card-buttons {
  height: 40px;
  position: relative;
  z-index: 21;
  box-sizing: border-box;
  padding: 0 5px;
}
.card-userImage {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border-radius: 50%;
}
.card-userImage-s {
  height: 25px;
  width: 25px;
  min-width: 25px;
  border-radius: 50%;
}
.card-foodHeading { box-sizing: border-box; padding: 0 15px; }
.card-subText {
  max-width: 175px;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-right: 10px;
}
.address-top {
  margin-top: 1px;
}

.card-pts {
  height: 40px;
  width: 40px;
  color: var(--black);
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid var(--black);
}
.card-stats { box-sizing: border-box; padding: 0 15px 20px 15px; }

.card-pts-small {
  height: 20px;
  width: 20px;
  color: var(--black);
  border-radius: 7px;
  box-sizing: border-box;
  border: 1px solid var(--black);
}
.card-pts-medium {
  height: 25px;
  width: 25px;
  color: var(--black);
  border-radius: 9px;
  box-sizing: border-box;
  border: 1px solid var(--black);
}

.card-list-bottom {
  box-sizing: border-box;
  padding: 0 5px 15px 15px;
}

.card-follow-margin {
  margin: 15px 5px 20px 15px;
}