#navBar {
  position: fixed;
  z-index: 10;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  background-color: white;
  transition: 150ms;
}
.navBar-wrapper {
  max-width: var(--width);
  margin: 0 auto;
  box-sizing: border-box;
}

.defaultNav-logoWrapper {
  box-sizing: border-box;
  padding: 0 15px;
}
.defaultNav-logo { height: 15px; }
.defaultNav-buttonPadding { width: 50px; box-sizing: border-box; padding: 0 10px; }

.searchNav-xButton { padding: 0 10px;}
.searchNav-searchIconPadding { padding: 0 10px 0 15px; }
.searchNav-filterIconPadding { padding: 0 15px 0 7px; }
.searchNav-searchInput::placeholder { color: var(--black); }

.chevron-left { width: 50px; box-sizing: border-box; padding-left: 8px; }
.chevron-right { width: 50px; box-sizing: border-box; padding-right: 8px; }