.navBar {
  position: fixed;
  z-index: 100;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  background-color: white;
}
.navBar-wrapper {
  max-width: var(--width);
  margin: 0 auto;
  box-sizing: border-box;
}

.nav-padding10 { box-sizing: border-box; padding: 0 10px;}
.nav-padding15 { box-sizing: border-box; padding: 0 15px;}
.nav-buttonWidth { width: 50px; }

.defaultNav-button { color: var(--black); display: flex; align-items: center; }
.defaultNav-button:hover { color: var(--mediumgray); }
.defaultNav-logo { height: 15px; }

.searchNav-xButton { padding: 0 10px;}
.searchNav-searchIconPadding { padding: 0 10px 0 15px; }
.searchNav-filterIconPadding { padding: 0 15px 0 7px; }
.searchNav-searchInput::placeholder { color: var(--black); }

.chevron-left { width: 50px; box-sizing: border-box; padding-left: 10px; }
.chevron-right { width: 50px; box-sizing: border-box; padding-right: 10px; }

.saved-border { box-sizing: border-box; border-bottom: 1px solid transparent; }
.saved-selected { box-sizing: border-box; border-bottom: 1px solid var(--black); }

.follow-blue { color: var(--lightblue); }
.follow-blue:hover { color: var(--lightblue); }