.predictions-container {
  max-height: 200px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
  background-color: white;
  position: absolute;
  z-index: 2;
  border: 1px solid var(--border);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.predictions-button {
  width: 100%;
  padding: 0 4px 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-top: 1px solid var(--border);
  font-size: 11px;
  box-sizing: border-box;
  color: var(--black);
}
.predictions-button:hover { background-color: var(--background); }
.pac-logo:after {
  content: "";
  padding: 1px 1px 1px 0;
  height: 18px;
  box-sizing: border-box;
  text-align: right;
  display: block;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 120px 14px;
}
.predictions-container:after {
  margin-right: 4px;
  margin-bottom: 3px;
}