.filters-margin {
  margin: 15px;
}

.filters-slider {
  margin: 30px 20px;
}
.pts-scale { margin-right: -8px; }
.pts-not { font-size: 12px; font-weight: 400; color: var(--mediumgray); }
.pts-selected { font-size: 12px; font-weight: 700; color: var(--black); }